<h2>Build</h2>

<div class="buildgroup">
    <h3>Residential</h3>
    <ul>
        <li>
            <label for="radiobutton-house">
                <input id="radiobutton-house" type="radio" name="radBuilding" value="1" />
                House
            </label>
        </li>
        <li>
            <label for="radiobutton-apartment">
                <input id="radiobutton-apartment" type="radio" name="radBuilding" value="2" />
                Apartment
            </label>

        </li>
        <li>
            <label for="radiobutton-luxurytower">
                <input id="radiobutton-luxurytower" type="radio" name="radBuilding" value="3" />
                Luxury Tower
            </label>
        </li>
    </ul>
</div>
<div class="buildgroup">
    <h3>Retail</h3>
    <ul>
        <li>
            <label for="radiobutton-retail">
                <input id="radiobutton-retail" type="radio" name="radBuilding" value="4" />
                Retail
            </label>
        </li>
        <li>
            <label for="radiobutton-mall">
                <input id="radiobutton-mall" type="radio" name="radBuilding" value="5" />
                Mall
            </label>
        </li>
    </ul>
</div>
<div class="buildgroup">
    <h3>Office</h3>
    <ul>
        <li>
            <label for="radiobutton-officeunit">
                <input id="radiobutton-officeunit" type="radio" name="radBuilding" value="6" />
                Office Unit
            </label>
        </li>
        <li>
            <label for="radiobutton-officetower">
                <input id="radiobutton-officetower" type="radio" name="radBuilding" value="7" />
                Office Tower
            </label>
        </li>
    </ul>
</div>
<div class="buildgroup">
    <h3>Industrial</h3>
    <ul>
        <li>
            <label for="radiobutton-industrialunit">
                <input id="radiobutton-industrialunit" type="radio" name="radBuilding" value="8" />
                Industrial Unit
            </label>
        </li>
        <li>
            <label for="radiobutton-industrialpark">
                <input id="radiobutton-industrialpark" type="radio" name="radBuilding" value="9" />
                Industrial Park
            </label>
        </li>
    </ul>
</div>
