<h2>Buy / Sell</h2>

<div>
    <ul>
        <li>
            <label for="radiobutton-vector">
                <input id="radiobutton-vector" type="radio" name="radCompany" value="1" />
                <img class="icon" src="~/images/company-1.png" />
                Vector Properties
            </label>
        </li>
        <li>
            <label for="radiobutton-penforth">
                <input id="radiobutton-penforth" type="radio" name="radCompany" value="2" />
                <img class="icon" src="~/images/company-2.png" />
                Penforth Davey
            </label>
        </li>
        <li>
            <label for="radiobutton-urhme">
                <input id="radiobutton-urhme" type="radio" name="radCompany" value="3" />
                <img class="icon" src="~/images/company-3.png" />
                UrHme
            </label>
        </li>
        <li>
            <label for="radiobutton-greyfield">
                <input id="radiobutton-greyfield" type="radio" name="radCompany" value="4" />
                <img class="icon" src="~/images/company-4.png" />
                Greyfield
            </label>
        </li>
        <li>
            <label for="radiobutton-humble">
                <input id="radiobutton-humble" type="radio" name="radCompany" value="5" />
                <img class="icon" src="~/images/company-5.png" />
                The Humble Foundation
            </label>
        </li>
    </ul>

    <br />

    <ul>
        <li>
            <label for="radiobutton-sell">
                <input id="radiobutton-sell" type="radio" name="radCompany" value="0" />
                Sell Property
            </label>
        </li>
    </ul>
</div>
