@model Magnate.Models.MagnateViewModel

<h2>Inspect</h2>

<div>
    <ul>
        <li>
            <label for="radiobutton-inspectlot">
                <input id="radiobutton-inspectlot" type="radio" name="radInspect" value="1" />
                Inspect Lot
            </label>
        </li>
        <li>
            <label for="radiobutton-inspectcompany">
                <input id="radiobutton-inspectcompany" type="radio" name="radInspect" value="2" />
                Inspect Company
            </label>
        </li>
    </ul>
</div>

<div id="inspectionwrap">

</div>
