<h3>Reset</h3>

<div>
    <ul>
        <li>
            <label for="radiobutton-reset">
                <input id="radiobutton-reset" type="radio" name="radReset" value="1" />
                Reset
            </label>
        </li>
    </ul>
</div>
