
<div id="tabwrap">
    <div class="tab" data-value="1">Buy / Sell</div>
    <div class="tab" data-value="2">Build</div>
    <div class="tab" data-value="3">Attract</div>
    <div class="tab" data-value="4">Inspect</div>
    <div class="tab" data-value="5">Reset</div>
</div>

